<div class="row">
    <form class="col s12" #ref="ngForm" (ngSubmit)="signUp(ref.value);ref.reset()">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" name="firstName" class="validate" ngModel>
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" name="firstName" class="validate" ngModel>
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" name="email" class="validate" ngModel>
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" name="password" class="validate" ngModel>
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
            <button type="submit" class="btn waves-effect waves-light">Sign Up</button>
          </div>
      </div>
    </form>
  </div>